<h4><%= contact.name %>:</h4> 
<%= contact.date_of_birth.strftime("%Y %B %d") %> - <%= contact.phone %> - <%= contact.address %>
- <%= contact.get_credit_card %> - <%= contact.franchise %> - <%= contact.email %>
