<tr>
  <th scope="row"><%= contact.name %></th>
  <td><%= contact.date_of_birth.strftime("%Y %B %d") %></td>
  <td><%= contact.phone %></td>
  <td><%= contact.address %></td>
  <td><%= contact.get_credit_card %></td>
  <td><%= contact.franchise %></td>
  <td><%= contact.email %></td>
</tr>

