<%= form_for [@contact_file] do |form| %>
  <% if @contact_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_file.errors.count, "error") %> prohibited this contact_file from being saved:</h2>

      <ul>
        <% contact_file.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :alias_name %>
    <%= form.text_field :alias_name %>
  </div>

  <div class="field">
    <%= form.label :alias_date_of_birth %>
    <%= form.text_field :alias_date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :alias_phone %>
    <%= form.text_field :alias_phone %>
  </div>

  <div class="field">
    <%= form.label :alias_address %>
    <%= form.text_field :alias_address %>
  </div>

  <div class="field">
    <%= form.label :alias_credit_card %>
    <%= form.text_field :alias_credit_card %>
  </div>
  
  <div class="field">
    <%= form.label :alias_email %>
    <%= form.text_field :alias_email %>
  </div>

  <div class="field">
    <%= form.label :csv %>
    <%= form.file_field :csv %>
  </div>
    
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
